In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
from pandas import DataFrame, Series

In [8]:
df = DataFrame({'int_col' : [1,2,6,8,-1], 'float_col' : [0.1, 0.2, 0.2, 10.1, None], 'str_col' : ['a', 'b', None, 'c', 'a']})

In [9]:
df

   float_col  int_col str_col
0        0.1        1       a
1        0.2        2       b
2        0.2        6    None
3       10.1        8       c
4        NaN       -1       a

In [11]:
df.ix[:,['float_col', 'int_col']]

   float_col  int_col
0        0.1        1
1        0.2        2
2        0.2        6
3       10.1        8
4        NaN       -1

In [12]:
df[['float_col', 'int_col']]

   float_col  int_col
0        0.1        1
1        0.2        2
2        0.2        6
3       10.1        8
4        NaN       -1

In [13]:
df[df['float_col'] > 0.15]

   float_col  int_col str_col
1        0.2        2       b
2        0.2        6    None
3       10.1        8       c